body{
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: rgb(226, 223, 223);
}

header {

    background-color: #1D3557;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .liens {
        a {
            color: white;
            text-decoration: none;
            background-color: rgb(58, 23, 255);
            padding: 10px;
            border-radius: 10px;
            font-size: 1.1em;
            transition: all 0.3s ease;
            display: inline-block;
            margin-right: 30px;
        }

        a:hover {
            transform: scale(1.2, 1.2);
        }
    }

    h1 {
        font-size: 3em;
    }

}

.sous_header{
    display: flex;
    justify-content: center;
    margin: 44px;
    
    a{
        margin-left: 40px;
        text-decoration: none;
        color: black;
        font-style: italic;
    }
}

.bleu{
    background-color: rgb(55, 85, 182);
    padding: 6px;
}

h1{
    display: flex;
    justify-content: center;
}



.info{

    margin: 50px;
    
    p{
        margin: 5px 0;
        font-size: 16px;
        line-height: 1.5;
    }

    h1{
        margin-bottom: 10px;
        font-size: 24px;
    }

    .Schilthorn{
        display: flex;
        width: 90em;
        margin: 40px auto;
        padding: 20px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        align-items: center;
         
        .contenu img{
            width: 600px;
            height: auto;
            border-radius: 10px;
            display: auto;
        }
        .image{
            padding-left: 8%;
        }


        .text{
            margin-left: 7em;
            margin-right: 7em;
        }
        
        .info{
            margin-left: 5.7em;
            margin-right: 7em;
        }
    }


    .Jungfraujoch{
        display: flex;
        width: 90em;
        margin: 40px auto;
        padding: 20px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        align-items: center;

        .contenu img{
            width: 600px;
            height: auto;
            border-radius: 10px;
            display: auto;
        }
        .image{
            padding-left: 8%;
        }


        .text{
            margin-left: 7em;
            margin-right: 7em;
        }
        
        .info{
            margin-left: 5.7em;
            margin-right: 7em;
        }
    }



    .Brienzer_Rothorn{
        display: flex;
        width: 90em;
        margin: 40px auto;
        padding: 20px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        align-items: center;
        
        .contenu img{
            width: 600px;
            height: auto;
            border-radius: 10px;
            display: auto;
        }
        .image{
            padding-left: 8%;
        }


        .text{
            margin-left: 7em;
            margin-right: 7em;
        }
        
        .info{
            margin-left: 5.7em;
            margin-right: 7em;
        }
    }

    .Niederhorn{
        display: flex;
        width: 90em;
        margin: 40px auto;
        padding: 20px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        align-items: center;
        
        .contenu img{
            width: 600px;
            height: auto;
            border-radius: 10px;
            display: auto;
        }
        .image{
            padding-left: 8%;
        }


        .text{
            margin-left: 7em;
            margin-right: 7em;
        }
        
        .info{
            margin-left: 5.7em;
            margin-right: 7em;
        }
    }

    .Männlichen{
        display: flex;
        width: 90em;
        margin: 40px auto;
        padding: 20px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        align-items: center;
        
        .contenu img{
            width: 600px;
            height: auto;
            border-radius: 10px;
            display: auto;
        }
        .image{
            padding-left: 8%;
        }


        .text{
            margin-left: 7em;
            margin-right: 7em;
        }
        
        .info{
            margin-left: 5.7em;
            margin-right: 7em;
        }

    }

}

.page_2{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    
    a{
        background-color: white;
        padding:10px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
        text-decoration: none;
        color: black;
        box-shadow: 0 6px 15px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }
    
    a:hover{
        transform: scale(1.1,1.1);
    }
}

footer{
    
    font-size: 1.2em;

    .bleu1{
        background-color: rgb(55, 85, 182);
        padding: 6px;
    }

    background-color: rgb(180, 180, 180);
    padding: 1px;
    text-align: center;

    .liens{
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            text-decoration: none;
        }
    }
}





