body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

header {

    background-color: #1D3557;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .liens {
        a {
            color: white;
            text-decoration: none;
            background-color: rgb(58, 23, 255);
            padding: 10px;
            border-radius: 10px;
            font-size: 1.1em;
            transition: all 0.3s ease;
            display: inline-block;
            margin-right: 30px;
        }

        a:hover {
            transform: scale(1.2, 1.2);
        }
    }

    h1 {
        font-size: 3em;
    }

}

.bleu {
    background-color: rgb(55, 85, 182);
    padding: 6px;
}

.vaud {
    position: absolute;
    top: 63.7%;
    left: 3%;
    background-color: #2F5D50;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;

    a {
        font-size: 2.5em;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
        display: flex;
    }

    a:hover {
        transform: scale(1.1, 1.1);
        color: #b7d8cf;
    }
}

.valais {
    position: absolute;
    top: 73%;
    left: 30.5%;
    background-color: #2F5D50;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;

    a {
        font-size: 2.5em;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
        display: flex;
    }

    a:hover {
        transform: scale(1.1, 1.1);
        color: #b7d8cf;
    }
}

.grindewald {
    position: absolute;
    top: 57.4%;
    left: 38.5%;
    background-color: #2F5D50;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;

    a {
        font-size: 2.5em;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
        display: flex;
    }

    a:hover {
        transform: scale(1.1, 1.1);
        color: #b7d8cf;
    }
}

.zermatt {
    position: absolute;
    top: 112%;
    left: 50.6%;
    background-color: #2F5D50;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;

    a {
        font-size: 2.5em;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
        display: flex;
    }

    a:hover {
        transform: scale(1.1, 1.1);
        color: #b7d8cf;
    }
}

.saas-fee {
    position: absolute;
    top: 96%;
    left: 50%;
    background-color: #2F5D50;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;

    a {
        font-size: 2.5em;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
        display: flex;
    }

    a:hover {
        transform: scale(1.1, 1.1);
        color: #b7d8cf;
    }
}


.imageimage_acceuil {

    display: flex;
}


footer {

    font-size: 1.2em;

    .bleu1 {
        background-color: rgb(55, 85, 182);
        padding: 6px;
    }

    background-color: rgb(180, 180, 180);
    padding: 1px;
    text-align: center;

    .liens {
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            text-decoration: none;
        }
    }
}