body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: rgb(226, 223, 223);
}

header {

    background-color: #1D3557;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .liens {
        a {
            color: white;
            text-decoration: none;
            background-color: rgb(58, 23, 255);
            padding: 10px;
            border-radius: 10px;
            font-size: 1.1em;
            transition: all 0.3s ease;
            display: inline-block;
            margin-right: 30px;
        }

        a:hover {
            transform: scale(1.2, 1.2);
        }
    }

    h1 {
        font-size: 3em;
    }

}

.bleu {
    background-color: rgb(55, 85, 182);
    padding: 6px;
}

.retour {
    display: flex;
    margin-left: 1em;
    margin-top: 1em;

    a {
        background-color: white;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
        text-decoration: none;
        color: black;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    a:hover {
        transform: scale(1.1, 1.1);
    }
}

.sous_header {

    background-color: #c6ddfc;
    margin-bottom: 5em;
    margin-left: 13em;
    margin-right: 13em;
    border-radius: 30px;

    .logo {
        display: flex;
        justify-content: space-around;
        padding-left: 15em;
        padding-right: 15em;
        padding-top: 30px;
    }

    .info {
        display: flex;
        justify-content: space-around;
        padding-left: 15em;
        padding-right: 15em;
        padding-top: 30px;
    }
}

p {
    font-size: 20px;
}

.lac {
    margin-left: 13.7em;
    margin-right: 13.2em;
}

.image_1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 2em;
    margin-top: 5em;
    margin-right: 12em;
    margin-left: 12em;
}

.image {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-bottom: 5em;
}


footer {

    font-size: 1.2em;

    .bleu1 {
        background-color: rgb(55, 85, 182);
        padding: 6px;
    }

    background-color: rgb(180, 180, 180);
    padding: 1px;
    text-align: center;

    .liens {
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            text-decoration: none;
        }
    }
}