body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: rgb(226, 223, 223);
}

header {

    background-color: #1D3557;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .liens {
        a {
            color: white;
            text-decoration: none;
            background-color: rgb(58, 23, 255);
            padding: 10px;
            border-radius: 10px;
            font-size: 1.1em;
            transition: all 0.3s ease;
            display: inline-block;
            margin-right: 30px;
        }

        a:hover {
            transform: scale(1.2, 1.2);
        }
    }

    h1 {
        font-size: 3em;
    }

}

.bleu {
    background-color: rgb(55, 85, 182);
    padding: 6px;
}

.retour {
    display: flex;
    margin-left: 1em;
    margin-top: 1em;

    a {
        background-color: white;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
        text-decoration: none;
        color: black;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    a:hover {
        transform: scale(1.1, 1.1);
    }
}

.mont_tendre {

    .titre {
        display: flex;
        justify-content: center;
        font-size: 2em;
        text-decoration: underline;
        position: absolute;
        top: 16%;
        left: 38%;
    }

    .sous_header {

        background-color: #b7d8cf;
        margin-bottom: 5em;
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 12em;
        border-radius: 30px;

        .logo {
            display: flex;
            justify-content: space-around;
            padding-top: 30px;
        }

        .info {
            display: flex;
            justify-content: space-around;
            padding: right 2em;
            padding-top: 30px;
        }
    }

    p {
        font-size: 20px;
    }

    .lac {
        margin-left: 8em;
        margin-right: 8em;
        background-color: #ceebe3;
        padding: 20px;
        border-radius: 20px;
    }

    .image_1 {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-bottom: 5em;
        margin-top: 5em;
        margin-right: 5em;
        margin-left: 5em;
    }

    .titre_randonnee {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-style: italic;
    }

    .contenu {

        background-color: #ceebe3;
        margin-left: 20em;
        margin-right: 20em;
        padding-top: 2em;
        margin-bottom: 5em;

        .randonnee {
            display: flex;
            justify-content: center;


            .niveau {
                position: absolute;
                left: 19.5%;
                top: 196%;
                background-color: rgb(37, 35, 35);
                color: white;
                border-radius: 20px;
                padding-right: 20px;
                padding-left: 20px;
            }

            .image_3 {
                position: absolute;
                left: 63.9%;
            }

            .image_4 {
                position: absolute;
                left: 19.7%;
                top: 249.7%;
                transition: transform 0.8s ease;
            }

            .image_4:hover {
                transform: translate(430px, -260px) scale(5);
            }
        }

        .info {

            .info_titre {
                display: flex;
                justify-content: center;
                font-size: 1.2em;
            }

            .info_logo {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                margin-left: 14em;
                margin-right: 14em;
            }

            .info_rando {
                display: flex;
                justify-content: center;
                margin-left: 3em;
                margin-right: 2em;
                margin-bottom: 15em;
            }
        }
    }


}

.dole {

    .titre {
        display: flex;
        justify-content: center;
        font-size: 2em;
        text-decoration: underline;
        position: absolute;
        top: 287%;
        left: 43%;
    }

    .sous_header {

        background-color: #b7d8cf;
        margin-bottom: 5em;
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 12em;
        border-radius: 30px;

        .logo {
            display: flex;
            justify-content: space-around;
            padding-top: 30px;
        }

        .info {
            display: flex;
            justify-content: space-around;
            padding: right 2em;
            padding-top: 30px;
        }
    }

    p {
        font-size: 20px;
    }

    .lac {
        margin-left: 8em;
        margin-right: 8em;
        background-color: #ceebe3;
        padding: 20px;
        border-radius: 20px;
    }

    .image_1 {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-bottom: 5em;
        margin-top: 5em;
        margin-right: 5em;
        margin-left: 5em;
    }

    .titre_randonnee {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-style: italic;
    }

    .contenu {

        background-color: #ceebe3;
        margin-left: 20em;
        margin-right: 20em;
        padding-top: 1em;
        margin-bottom: 5em;

        .randonnee {
            display: flex;
            justify-content: center;


            .niveau {
                position: absolute;
                left: 18.3%;
                top: 435%;
                background-color: rgb(37, 35, 35);
                color: white;
                border-radius: 20px;
                padding-right: 20px;
                padding-left: 20px;
            }

            .image_3 {
                position: absolute;
                left: 59%;
            }

            .image_4 {
                position: absolute;
                left: 18.3%;
                top: 479.8%;
                transition: transform 0.8s ease;
            }

            .image_4:hover {
                transform: translate(490px, -210px) scale(4);
            }
        }

        .info {

            .info_titre {
                display: flex;
                justify-content: center;
                font-size: 1.2em;
            }

            .info_logo {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                margin-left: 14em;
                margin-right: 14em;
            }

            .info_rando {
                display: flex;
                justify-content: center;
                margin-left: 3em;
                margin-right: 2em;
            }
        }
    }


}

.dent_de_vaulion {

    .titre {
        display: flex;
        justify-content: center;
        font-size: 2em;
        text-decoration: underline;
        position: absolute;
        top: 522%;
        left: 35%;
    }

    .sous_header {

        background-color: #b7d8cf;
        margin-bottom: 5em;
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 12em;
        border-radius: 30px;

        .logo {
            display: flex;
            justify-content: space-around;
            padding-top: 30px;
        }

        .info {
            display: flex;
            justify-content: space-around;
            padding-right:  2em;
            padding-top: 30px;
        }
    }

    p {
        font-size: 20px;
    }

    .lac {
        margin-left: 8em;
        margin-right: 8em;
        background-color: #ceebe3;
        padding: 20px;
        border-radius: 20px;
    }

    .image_1 {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-bottom: 5em;
        margin-top: 5em;
        margin-right: 5em;
        margin-left: 5em;
    }

    .titre_randonnee {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-style: italic;
    }

    .contenu {

        background-color: #ceebe3;
        margin-left: 20em;
        margin-right: 20em;
        padding-top: 1em;
        margin-bottom: 5em;

        .randonnee {
            display: flex;
            justify-content: center;


            .niveau {
                position: absolute;
                left: 18.3%;
                top: 674.7%;
                background-color: rgb(37, 35, 35);
                color: white;
                border-radius: 20px;
                padding-right: 20px;
                padding-left: 20px;
            }

            .image_3 {
                position: absolute;
                left: 59%;
            }

            .image_4 {
                position: absolute;
                left: 18.3%;
                top: 714.4%;
                transition: transform 0.8s ease;
            }

            .image_4:hover {
                transform: translate(500px, -200px) scale(4);
            }
        }

        .info {

            .info_titre {
                display: flex;
                justify-content: center;
                font-size: 1.2em;
            }

            .info_logo {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                margin-left: 14em;
                margin-right: 14em;
            }

            .info_rando {
                display: flex;
                justify-content: center;
                margin-left: 3em;
                margin-right: 2em;
            }
        }
    }


}

footer {

    font-size: 1.2em;

    .bleu1 {
        background-color: rgb(55, 85, 182);
        padding: 6px;
    }

    background-color: rgb(180, 180, 180);
    padding: 1px;
    text-align: center;

    .liens {
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            text-decoration: none;
        }
    }
}